        <footer class = "mainfooter">
            <hr>
            CST336. 2019&copy; Cruz <br/>
            <strong>Disclaimer:</strong> The information in this website is for academic purposes.
            <br/>
            <img src="img/csumb_logo.jpg" width="200" alt="CSUMB Logo"/>
        </footer>
    </body>
</html>