<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" />
        <title>Viruses: What They Are!</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">-->
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>